<h2>Products</h2>
<!--*ngFor: es el ciclo for para angular-->
<!--let product of products: es la asignacion del objeto json products a la variable product-->
<!--product: es la variable que recibimos del @component a traves de la clase export -> export class ProductListComponent {}-->
<div *ngFor="let product of product">
	<h3>
		<!--title es la propiedad que se asigna a la etiqueta a-->
		<!--product.name-->
		<!--product: variable que contiene el json-->
		<!--name: atributo del json que se encuentra en la variable producr-->
		<!--"product.name + ' details'": interpolacion-->
		<!--[]: Propiedades-->
		<a [title]="product.name + ' details'">
			<!--{{ product.name }}: Impresion de variables en el html-->
			{{ product.name }}
		</a>
	</h3>
	<!--*ngIf: es la validacion de angular-->
	<!--"product.description"-->
	<!--product: variable con el objeto json-->
	<!--description: atributo del json-->
	<!--la directiva *ngIf valida si existe o no valor para el atributo name en el json-->
	<p *ngIf="product.description" [title]="'Descripcion del articulo'">
		Description: {{ product.description }}
	</p>
	<!--"": interpolacion dentro de las llaves de una etiqueta-->
	<!--(click): Eventos en angular-->
	<button (click)="share()" [title]="'Compartir'">
      Share
  </button>

  <!--(notify): variable recibida desde el component hijo el cual es un evento y es enviado al component padre a traves del metodo onNotify()-->
  <!--onNotify(): nombre del escuchador de eventos el cual esta declarado en el component padre -> onNotify() {}-->

  <app-product-alerts
    [product]="product"    
    (notify)="onNotify()">
  </app-product-alerts>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
